@import url('https://fonts.googleapis.com/css?family=Albert Sans&display=swap');
html {
  font-family: "Albert Sans", sans-serif;
}
h1 {
  font-size: 48px;
  text-align: center;
}
p {
  text-align: justify;
}
.button {
  background-color: #eeeeff;
  border: 2px solid;
  color: black;
  padding: 16px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}