@import url('https://fonts.googleapis.com/css?family=Albert%20Sans&display=swap');
html {
  font-family: "Albert Sans", serif;
}
h1 {
  font-size: 48px;
  text-align: center;
}
p {
  text-align: justify;
}