@import url('https://fonts.googleapis.com/css?family=Albert Sans&display=swap');
html {
  font-family: "Albert Sans", sans-serif;
}
h1 {
  font-size: 48px;
  text-align: center;
}
p {
  text-align: justify;
}
.button {
  background-color: #eeeeff;
  border: 2px solid;
  color: black;
  padding: 160px 800px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 40px 20px;
  cursor: pointer;
}